$color-background-light-grey: #fbfbfb;
$color-search-box-border: #efefef;
$color-white: #ffffff;
$color-submit-border: #b4b5b8;
$color-title-after-blue: #0266b3;


//media queries
//$mq-xs: 670x;
//$mq-desktop: 992px;

//mixins
@mixin media($min: false, $max: false) {
  @if $min {
	@media screen and (min-width: $min){
	  @content;
	}
  } @else if $max {
    @media screen and (max-width: $max) {
      @content;
    }
  } @else if $min && $max {
    @media screen and (min-width: $min) and (max-width: $max){
	@content;
    }
  }
}